/* タブレット */
@media (max-width: 1000px) {
    body{
        padding: 0;
        margin: 0;
    }
    
   }
   
   
   
   
   /* スマートフォン */
   @media (max-width: 670px) {
       body{
           padding: 0;
           margin: 0;
       }
       
      .header{
           background-size: contain;
           background-repeat: no-repeat;
       }
       .top-wrapper{
           background-size: contain;
           background-repeat: no-repeat;
       }
       .skill-wrapper{
           background-size:contain;
           background-repeat: no-repeat;
       }
       .service-wrapper{
           background-size: contain;
           background-repeat: no-repeat;
       }
       .work-wrapper{
           background-size: contain;
           background-repeat: no-repeat;
       }
    
    }
