 /* モバイルS */
    @media screen and (min-width: 320px) and (max-width:375px) {
        body {
            padding: 0;
            margin: 0;
        }

        .header{
            height: 100%;
        }
        .top-wrapper{
            height: 100%;
        }
        .top-contents{
            font-size: 25px;
        }
        .chinko h3{
          font-size: 13px;
        }
        .chinko p{
            margin: 20px 15px;
        }
        .lll{
            width: 120px;
            height: 120px;
        }
        .unko h3{
            font-size: 13px;
        }
        .unko p{
            margin: 20px 15px;
        }
       
        .service-wrapper{
            height: 100%;
        }
        .service-icon p{
            font-size: 20px;
        }
        .work-wrapper{
            height: 100%;
        }
        .footer{
            height: 100%;
        }

        .names {
            font-size: 20px;
            margin-top: 30px;

        }
        .iii {
            font-size: 15px;
        }
        .skill  {
            text-align: center;
        }

        .unko5 p{
            color: white;
        }
        .work-contents li{
            width: 70%;
           margin: 40px auto;
        }
    }

    @media screen and (min-width: 375px) and (max-width:425px) {

        body{
            padding: 0;
            margin: 0;
        }
        .header{
            height: 100%;
            
        }
        .names {
            font-size: 30px;
            margin-top: 30px;

        }
        .iii {
            font-size: 15px;
        }
        .top-wrapper{
            height: 100%;
        }
        .top-contents {
            font-size: 19px;
        }
        .chinko h3{
            font-size: 16px;
          }
          .chinko p{
              margin: 20px 15px;
          }
          .lll{
              width: 120px;
              height: 120px;
          }
          .unko h3{
              font-size: 16px;
          }
        .skill-wrapper{
            height: 100%;
        }
        .service-icon p{
            font-size: 25px;
        }
        .service-wrapper{
            height: 100%;
        }
        .work-wrapper{
            height: 100%;
        }

        .unko5 p{
            color: white;
        }

       
        .work-contents li{
            width: 70%;
           margin: 40px auto;
        }
    }

    @media screen and (min-width:425px) and (max-width:768px) {
        
        body{
            padding: 0;
            margin: 0;
        }
        .header{
            height: 100%;
            
        }
        .names {
            font-size: 30px;
            margin-top: 30px;

        }
        .iii {
            font-size: 15px;
        }
        .top-wrapper{
            height: 100%;
        }
        .top-contents {
            font-size: 26px;
        }
        .chinko h3{
            font-size: 20px;
          }
          .chinko p{
              margin: 20px 20px;
          }
          .lll{
              width: 120px;
              height: 120px;
          }
          .unko h3{
              font-size: 20px;
          }
          .unko p{
              margin: 20px 20px;
          }
        .skill-wrapper{
            height: 100%;
        }
        .service-icon p{
            font-size: 25px;
        }
        .service-wrapper{
            height: 100%;
        }
        .work-wrapper{
            height: 100%;
        }

        .unko5 p{
            color: white;
        }

       
        .work-contents li{
            width: 70%;
           margin: 40px auto;
        }
      
        
    }


    /* タブレット */
    @media screen and (min-width:768px) and (max-width:1024px) {
        .chinko p{
            margin: 20px 30px;
        }

       
    }

      
